.site-banner {
  margin: 0 1.5rem;
  position: relative;
}

.site-banner__area {
  width: 100%;
  aspect-ratio: 2.9;
  position: relative;
}

.site-banner__area-link {
  position: absolute;
  display: block;
  inset: 0;
}

.site-banner__area-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.active-link {
  z-index: 10;
}

.site-banner__area-counter {
  position: absolute;
  bottom: 24px;
  left: 0;
  z-index: 20;
  width: min(17.125rem, 45%);
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.area-counter {
  display: inline-flex;
  gap: 0.625rem;
  border-radius: 1.5625rem;
}

.area-counter__item {
  width: 1.75rem;
  height: 1.75rem;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  cursor: pointer;
}

.area-counter__item-point {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #ffffff;
}

.active-item {
  opacity: 1;
}

@media (max-width: 1024px) {
  .site-banner__area-counter {
    width: 100%;
    justify-content: center;
    bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .site-banner__area-counter {
    width: 100%;
    justify-content: center;
  }
}
