.site-breadcrumb {
  margin: 0 1.5rem;
  padding: 1.5rem 0;
}

.site-breadcrumb__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.site-breadcrumb__item {
  font-size: 1rem;
  line-height: 1;
  color: #7f7f7f;
  font-weight: 300;
}

.site-breadcrumb__item a {
  color: inherit;
  text-decoration: none;
}

.site-breadcrumb__item + .site-breadcrumb__item::before {
  content: '>';
  margin-right: 1rem;
  color: #7f7f7f;
}
