@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Nunito', sans-serif;
  background-color: #f9f9f9;
}

.btn-icon {
  height: 3rem;
  width: 3rem;
  border: 1px solid #d9d9d9;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon img {
  width: 1.5rem;
  height: 1.5rem;
}

.btn-icon:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
