.announcement-bar {
  background-color: #000000;
  padding: 1rem 0;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
}

.announcement-bar span {
  font-weight: bold;
}

.announcement-bar__message--full {
  display: none;
}

.site-header {
  background-color: #ffffff;
}

.site-header__wrapper {
  padding: 2.0625rem 1.5rem;
  display: flex;
  justify-content: space-between;
  max-width: 64rem;
  margin: auto;
}

.site-header__full {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: 2.5rem;
}

.site-header__menu {
  display: none;
  gap: 2.5rem;
}

.site-header__menu-item a {
  text-decoration: none;
  color: #7f7f7f;
}

.site-header__menu-item a:hover {
  color: #000;
}

.site-header__compact {
  display: flex;
  align-items: center;
  gap: 16px;
}

.site-header__search {
  display: none;
  background-color: #ccc;
}

@media (min-width: 714px) {
  .announcement-bar__message--compact {
    display: none;
  }

  .announcement-bar__message--full {
    display: block;
  }
}

@media (min-width: 1024px) {
  .site-header__menu {
    display: flex;
  }

  .site-header__menu-toggle {
    display: none;
  }
}
