.announcement-bar {
  background-color: #000000;
  padding: 16px 0;
  color: #ffffff;
  text-align: center;

  & span {
    font-weight: bold;
  }

  & .announcement-message--full {
    display: none;
  }

  @media (width > 714px) {
    & .announcement-message--compact {
      display: none;
    }
    & .announcement-message--full {
      display: block;
    }
  }
}
