.announcement-bar {
  background-color: #000000;
  padding: 1rem 0;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
}

.announcement-bar span {
  font-weight: bold;
}

.announcement-bar__message--full {
  display: none;
}

.site-header {
  background-color: #ffffff;
}

.site-header__wrapper {
  padding: 2.0625rem 1.5rem; /* 33px 24px */
  display: flex;
  justify-content: space-between;
  max-width: 64rem;
  margin: auto;
}

.site-header__nav-area {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: 2.5rem;
}

.site-header__menu {
  display: none;
  align-items: center;
  gap: 2.5rem;
}

.site-header__menu-item a {
  text-decoration: none;
  color: #7f7f7f;
  font-size: 1rem;
}

.site-header__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.site-header__search {
  display: none;
}

.site-header__search-input {
  width: 13.5rem;
  padding-left: 2.25rem;
  background-image: url(../img/ui/search.png);
  background-repeat: no-repeat;
  background-position: 0.375rem center;
  background-size: 1.5rem 1.5rem;
}

.site-header__search-input::placeholder {
  font-size: 0.875rem;
}

.site-header__menu-icon--active {
  display: none;
}

.site-header__menu-toggle.is-active {
  background-color: #1d4ffe;
}

.site-header__menu-toggle.is-active .site-header__menu-icon--default {
  display: none;
}

.site-header__menu-toggle.is-active .site-header__menu-icon--active {
  display: inline;
}

/* Mobile search container */
.site-header__search--compact {
  display: flex;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.site-header__search--compact .site-header__search-input {
  width: 100%;
}

/* Mobile menu */
.site-header__mobile-menu {
  padding-bottom: 2rem;
  display: none;
}

.site-header__mobile-menu.is-open {
  display: block;
}

/* Base (optional future-proof) */
.site-header__menu-item {
  display: block;
}

/* Mobile variant */
.site-header__menu-item--mobile {
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #d9d9d9;
  background-image: url(../img/ui/arrow-up-right.png);
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: right 2rem center;
}

.site-header__menu-item--mobile a {
  text-decoration: none;
  color: #7f7f7f;
  font-size: 1.1875rem;
}

@media (hover: hover) {
  .site-header__menu-item a:hover {
    color: #000;
  }
}

@media (min-width: 714px) {
  .announcement-bar__message--compact {
    display: none;
  }

  .announcement-bar__message--full {
    display: block;
  }
}

@media (min-width: 1024px) {
  .site-header__menu {
    display: flex;
  }

  .site-header__search {
    display: block;
  }

  .site-header__search--compact {
    display: none;
  }

  .site-header__menu-toggle {
    display: none;
  }

  .site-header__mobile-menu {
    display: none;
  }
}
