@import url(base.css);

.login-page {
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 6.5rem;
}

.login-page__photo {
  text-align: center;
}

.login-page__details {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.login-page__details-title {
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.login-page__details-info {
  color: #7f7f7f;
  font-size: 1.125rem;
}

.login-page__form {
  display: flex;
  flex-direction: column;
}

.login-page__form-label {
  color: #7f7f7f;
  font-size: 0.875rem;
}

.login-page__form-input {
  padding: 1rem;
  margin-top: 0.5rem;
}

input[data-password] {
  background-image: url(../img/ui/eye-line.png);
  background-repeat: no-repeat;
  background-position: right 0.375rem center;
  background-size: 1.5rem 1.5rem;
}

.login-page__form-password {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.forgot-password {
  color: #1d4ffe;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
}

.login-page__actions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: stretch;
}

.login-page__actions-text {
  font-size: 0.875rem;
  color: #7f7f7f;
  text-align: center;
}

.login-page__actions-link {
  text-decoration: none;
  color: #1d4ffe;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .login-page {
    align-items: stretch;
    margin-top: 9.5rem;
  }

  .login-page__details-info {
    font-size: 1.5rem;
  }

  .login-page__form {
    width: 50%;
    margin: auto;
  }

  .login-page__actions {
    width: 50%;
    margin: 2rem auto 3rem;
  }

  .login-page__actions-text {
    font-size: 1.5rem;
  }
}
