.product-layout {
  display: flex;
  margin: 2.5rem 1.5rem;
  flex-direction: column;
}

.product-layout__filters {
  display: none;
}

.product-layout__grid {
  flex: 1;
}

.filter {
  margin-bottom: 2rem;
}

.filter-header {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 2rem;
}

.filter-title {
  font-size: 1.25rem;
  color: #000000;
  font-weight: bold;
}

.filter-body__option {
  display: flex;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  color: #7f7f7f;
  align-items: center;
  gap: 1rem;
}

.filter-body__option input {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 1024px) {
  .product-layout {
    flex-direction: row;
    gap: 2rem;
  }

  .product-layout__filters {
    display: flex;
    flex-direction: column;
    width: 17.5rem;
  }
}
