.product-description {
  margin: 0 1.5rem;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.product-description__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 1.5rem;
  cursor: pointer;
}

.product-description__header-title {
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
}

.product-description__header-icon {
  padding: 0.75rem;
  border: 1px solid #d9d9d9;
}

.product-description__body {
  margin-top: 2rem;
  color: #7f7f7f;
  font-size: 1rem;
  display: none;
}
