.product-related {
  margin: 2.5rem 1.5rem 3.5rem 1.5rem;
}

.product-related__titles {
  color: #000000;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.product-related__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .product-related__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
