.product-section {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-section__title {
  font-weight: bold;
  font-size: 1.125rem;
  color: #000000;
}

.product-section__description {
  color: #7f7f7f;
  font-size: 0.75rem;
  font-weight: normal;
}

.product-section__list {
  width: 100%;
  margin-top: 1.5rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .product-section__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .product-section {
    align-items: start;
  }

  .product-section__title {
    font-size: 1.5rem;
  }

  .product-section__description {
    font-size: 1rem;
  }

  .product-section__list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
    margin-top: 2.5rem;
  }
}
