.site-warnings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem;
}

.site-warnings__info {
  border: 1px solid #d9d9d9;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  flex: 1;
}

.site-warnings__info-icon {
  border-right: 1px solid #d9d9d9;
  padding-right: 2.5rem;
  padding-left: 1rem;
  margin-right: 2rem;
}

.site-warnings__info-title {
  color: #000000;
  font-size: 1.25rem;
  font-weight: bold;
}

.site-warnings__info-subtitle {
  font-size: 0.875rem;
  color: #7f7f7f;
}

@media (min-width: 1024px) {
  .site-warnings {
    flex-direction: row;
  }

  .site-warnings__info-icon {
    margin-right: 1.25rem;
    padding-right: 1.25rem;
    padding-left: 0;
  }
}
